
body {
    background-color: lightgrey;
}

html{
    scroll-behavior: smooth;
}

p{
    background-color: lavender;
}

a:link{
    background-color: pink;
}

table , th, td {
    border :1px solid black;
}

table{
    width: 100%;
    border-spacing:0;
}
th{
    text-align:left;
}





 